@import "../../scss/_reset.scss";
@import "../../scss/variables.scss";

.top-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 60%;
  margin: 80px auto 0 auto;
}
.title {
  font-size: 30px;
  font-weight: 700;
  font-family: $main-font;
}
.description {
  font-size: 20px;
  font-weight: 400;
  font-family: $main-font;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 40px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}
.input-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.buttons-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 768px) {
    width: 100%;
  }
}
