@import "../../scss/_reset.scss";
@import "../../scss/variables.scss";

.toggle-button {
  width: 60%;
  height: 60px;
  font-family: $main-font;
  font-size: 20px;
  font-weight: 700;
  @media (max-width: 768px) {
    display: none;
  }
}
.mobile-toggle-button {
  display: none;
  @media (max-width: 768px) {
    display: block;
    width: 60%;
    height: 60px;
    font-family: $main-font;
    font-size: 20px;
    font-weight: 700;
  }
}
