@import "../../scss/_reset.scss";
@import "../../scss/variables.scss";

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 80%;
  margin: 80px auto 0 auto;
  h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: $main-font;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: $main-font;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    font-family: $main-font;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
.movie-details-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  @media (max-width: 768px) {
    gap: 30px;
    align-items: center;
  }
}
.movie-title {
  @media (max-width: 768px) {
    width: 100%;
    h2 {
      text-align: center;
    }
  }
}
.movie-actor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.movie-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  @media (max-width: 768px) {
    align-self: flex-start;
  }
}
.movie-favorite {
  width: 60%;
  @media (max-width: 768px) {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.desktop-movie-poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
  p {
    padding: 12px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
.mobile-movie-poster {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    p {
      padding: 12px;
    }
  }
}
